{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style_empresa.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/logoHC.png' %}" />
  <title>EMPRESA | Hostal Clarita</title>
</head>
<style>
  ::selection {
    color: #fff;
    background: #7d0b8a;
  }
</style>

<body>
  <div class="container-fluid" id="allpage">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="menubar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logoClarita.png' %}" width="250px" id="logoFront"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!--ms-auto deja menu a la derecha -->
          <ul class="navbar-nav  ms-auto" id="menux">
            <li class="nav-item">
              <a class="nav-link" href="javascript: history.go(-1)">VOLVER</a>
            </li>
            &nbsp;
            <div class="dropdown" id="loggin">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" href="registro">Registrarse</a></li>
                {% endif %}
              </ul>
            </div>
          </ul>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
        <h2 class="text-center">Modificar Usuarios</h2>
        <hr>
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
              <form action="" method="POST">
                  {% csrf_token %} 
                  <table class="table table-borderless">
                      {{ form.as_table }}
                  </table>
                  <br>
                  {% if perms.core.change_usuario %}
                  <button type="submit" class="btn btn-success">Modificar</button>
                  <button type="reset" class="btn btn-primary">Limpiar</button>
                  {% endif %}
              </form>
            </div>
            <div class="col-md-auto">
              <br>
              <p><img class="img" src="{% static 'img/EditUser.svg' %}"  height=300px alt=""></p>
            </div>
          </div>
        </div>
        {{ mensaje }}        
    </div>    
    <br><br><br><br><br><br><br><br>
    <footer class="mainfooter">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-6">
            <h6>Hostal Clarita</h6>
            <p class="text-justify">Av. Ahumada Esq. Dagoberto 1283</p>
          </div>

          <div class="col-6 col-md-3">
            <h6>Redes</h6>
            <a href="https://www.facebook.com/"><img id="face1" src="{% static '/img/facebook.png' %}"width="30px"></a>
            <a href="http://instagram.com/"><img id="insta1" src="{% static '/img/instagram.png' %}"width="30px"></a>
            <a href="https://twitter.com/?lang=es"><img id="twit1" src="{% static '/img/twitter.png' %}"width="30px"></a>
          </div>

          <div class="col-6 col-md-3">
            <a href="#"><img id="footlogo" src="{% static '/img/logoClarita.png' %}" width="250px"></a>
          </div>

          <div class=" col-md-8 col-sm-6 col-12">
            <p class="copyright-text">Copyright &copy; 2021 Todos Derechos reservados </p>
            <a href="#">SCRUM-BOTS</a>
          </div>
        </div>
      </div>
    </footer>

   
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    
</body>
</html>